# Entorno virtual
venv/
.env/
.envrc/
.venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de distribución
build/
dist/
*.egg-info/

# Archivos de logs
*.log

# Configuración de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de testing
.pytest_cache/
.coverage

# Archivos de dependencias (opcional ignorarlos o no)
# requirements.txt

# Archivos de entorno (variables sensibles)
.env